body {
    min-height: 100vh; 
    /* Define height of the page */
    align-items: center;
    /* Align items in center vertically */
    justify-content: center;
    /* Align items in center horizontally */
    text-align: center;
    padding: 0;
    margin: auto;
    background: linear-gradient(#00335cdd , #00335cdd), url(imgs/bckgrnd.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

.cont-title {
    margin-top: 80px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.cont-title h1{
    font-size: 32px;
    line-height: 10px;
}
.cont-title h2{
    font-size: 20px;
}
form{
    margin-top: 30px;
    position: relative;
    align-items: center;
    transition: all 4s ease-in-out;
}
.form-cntrl {
    font-size: 18px;
    margin-bottom: 16px;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #aaa;
    border-radius: 5px;
    width: 600px;
    background: transparent;
    background: #a4d3fa;
    color: #000;   
}
.input {
    height: 45px;
}
.submit {
    background: #ff5752;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 40px;
    width: 300px;
    margin-top: 10px;
    transition: 0.5s;
}
.submit:hover {
    background:#01cc6c;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 700px) {
    .form-cntrl {
       width: 250px;
    }
    .submit {
    width: 200px;
    font-size: 16px;

    }
    }

.wraper {
    color: #fff;
    display: block;
    padding: 200px;
    
}
 span {
    color: #01cc6c;
}

.banner-btn {
    margin: 10px  0;
}
.banner-btn a{
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 10px 30px;
    color: #fff;
    background:#fb565ecc;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a:hover{
    background:#fb565e;

}