*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 30px;
    background: #29113a;
    z-index: 100;
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text i {
    font-size: 13px;
    color: #ffffff;
    margin-right: 5px;
}

.top-bar .text h2 {
    color: #eeeeee;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
}

.top-bar .text p {
    color: #eeeeee;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 5px;
}

.top-bar .social {
    display: flex;
    height: 35px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 100%;
    font-size: 16px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #092a49;
    background: #ffffff;
}

@media (max-width: 700px) {
    .top-bar {
        padding: 10;
    }
    .top-bar .text h2{
        font-size: 10px;
    }

}


/* ------------------ Navigation Menu  ------------------------------- */

.header{
    height: 110vh;
    width: 100%;
    background: linear-gradient(#25024177,#25024177), url(imgs/background.jpg);
    /* background: linear-gradient(#013d3877,#013d3877), url(imgs/background.jpg); */
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    background: #00335c22;
    border: 2px solid #00335c11;
    display: flex;
    padding: 0px 6px;
    justify-content: space-between;
    align-items: right;
}
nav img{
    width: 120px;
    border-radius: 50%;
    padding: 0px 10px;
    /* position: fixed; */
    left: 0;
}
.logo {
    color: #fff;
    font-weight: 600;
    text-shadow: 3px 3px 3px #444;
    font-size: 30px;
    text-decoration: none;
    /* position: fixed; */
    padding: 5px 20px;
    z-index: 999;
}
.nav_links{
    flex: 1;
    width: 100%;
    /* position: fixed; */
    text-align: right;
    z-index: 99 ;
    height: 50px;
    right: 0;
    top: 0;

    transition: 0.5s;
}
.nav_links ul li{
    list-style: none ;
    display: inline-block;
    padding: 10px  15px;
    position: relative;
    /* border: 2px solid white; */
}
.nav_links ul li a {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 16px;
}
.nav_links ul li a span {
    border: 1px solid #01fe87;
    padding: 2px 8px;
}
.nav_links ul li a span:hover {
    color: #01fe87;
}

.nav_links ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ff3737 ;
    display: block;
    margin: auto;
    opacity: 0;
    transition: 0.5s;
}

.nav_links ul li:hover::after {
    width: 100% ;
    background: #01fe87 ;
    opacity: 100%;

}

nav .bi {
    display: none;
}


/* ------------------  Media Query --------------------------- */

@media (max-width: 700px) {

    .logo {
    font-size: 25px;
    position: relative;
    }
    .nav_links ul li{
        display: block;
    }
    .nav_links{
        position:absolute ;
        background: #ff6347;
        height: 100vh;
        width: 120px;
        top: 0;
        /* right: -300px; */
        visibility: hidden;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .bi {
        display: block;
        color: #ffffff;
        cursor: pointer;
        margin: 20px;
        font-size: 22;
    }
    .nav_links ul {
        padding: 10px;
    }
    .row{
        flex-direction: column;
    }

}

/* ----------------------- Banner Text  ------------------------------------ */

.banner-text {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    /* color: #fff; */
    padding-top: 150px;
}

.banner-text  h1{
    position: relative;
    font-size: 60px;
    font-weight: bold;
    color:#fff;
    -webkit-text-stroke: 2px #383d52;
    text-shadow: 5px 5px 30px rgba(0, 0, 0);
    transition: 0.5s;
}

/* .banner-text  h1::before {
    content: attr(data-text);
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 0%;
    width: 0%;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0px #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 5s linear infinite ;
}
@keyframes animate {
    0%, 10%
    {
        width: 0;
    }
    80%{
        width: 39%;
    }
} */

.banner-text p {
    font-family: 'Martel', serif;
    font-style: italic;
    font-size: 20px;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0);
}
.banner-btn {
    margin: 10px  0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    color: #fff;
    background:rgb(251, 86, 94);
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: black;
}

@media (max-width: 700px) {
    .banner-text {
        padding-top: 80px;
    }
    .banner-text h1 { 
        font-size: 56px;
        line-height: 1;
        padding-bottom: 20px;
        -webkit-text-stroke: 1px #383d52;
        text-shadow: 5px 5px 30px rgba(0, 0, 0);
    }
    .banner-text p {
        font-size: 16px;
        padding: 10px;
    }

}

/* ---------------------  Title Styles --------------------------- */
.title-text {
    color: #00335c;
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    position: relative;
    z-index: 1;
    display: block;
}
.title-text p::after{
    content: '';
    width: 30px;
    height: 20px;
    top: 8px;
    background: linear-gradient(  #009688, #ffffff00);
    position: absolute;
    margin: auto;
    transform: translateX(5px) ;
    /* display: block; */
}

.title-text h1{
    font-size: 40px;
    font-weight: 600;
}

/* ---------------------  About --------------------------- */

#about {
    /* background: linear-gradient( #00335c11,  #00335c11 ); */
    width: 100%;
    padding: 70px 0;
}

.about-box {
    width: 100%;
    background: linear-gradient( #00335c00,  #00335c22 );
    display: flex;
    align-items: center;
    text-align: left;
    padding: 5px 0;
}
.about-text {
    flex-basis: 55%;
    margin: 30px;
    color: #444;
    /* border: 2px solid #00335c; */
}
.about-img {
    flex-basis: 35%;
    margin: auto;
    position: relative;
    display: block;
    /* border: 2px solid #00335c; */
   
}
.about-img img{
    float: left;
    width: 100%;
    position: relative;
    border-top-right-radius: 10%;
}

.about-img .layer{
    background: linear-gradient( #00335c00, #00335c22 );
    border-top-right-radius: 10%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.about-text h2{
    text-align: left;
    text-decoration: none;
    color: #00335c;
    margin: 30px;
    font-weight:600;
    font-size: 34px;
}
.about-text p{
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 14px;
    text-align: initial;
}

.about-btn {
    margin: 20px;
    
}
.about-btn a{
    width: 150px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    padding: 10px 0;
    color: #fff;
    background:  #00335cdd;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.about-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #00335c;
    visibility: hidden;
    z-index: -1;
    transition: 0.5s;
}
.about-btn a:hover span{
    width: 100%;
    visibility:visible;
}
.about-btn a:hover{
    color: #00335c;
}


@media (max-width: 700px) {
    .about-box {
        width: 100%;
    background: linear-gradient( #00335c00,  #00335c22 );
    display: block;
    }
    .about-box h2{
        margin-left: 20px;
        font-size: 30px;
    }
    .about-des{
        display: flex;
    }
    .about-text p {
        height: 250px;
        overflow: scroll;
    }
    .about-img {
        flex-basis: 90%;
    }
}



/* ---------------------  Features --------------------------- */

#features {
    width: 100%;
    padding: 20px 0;
}
.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}

.feature {
    flex-basis: 55%;
    margin-top: 30px;
}
.feature-img {
    flex-basis: 40%;
    margin: auto;
    position: relative;
   
}
.feature-img img{
    width: 100%;
    border-bottom-left-radius: 10%;
    /* border-top-right-radius: 10%; */
    display: block;
    /* border: 2px solid #00335c; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) ;
}
.feature-img .layer{
    background: linear-gradient( #00335c4d, #0000001a );
    border-bottom-left-radius: 10%;
    /* border-top-right-radius: 10%; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.feature-des{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}
.feature h2{
    text-align: left;
    text-decoration: none;
    color:#00335c;
    font-weight:400;
    font-size: 24px;
    margin: 10px 0 0 20px;
    transition: 0.4s;
}
.feature h2:hover{
    transform: translateY(-4px);
}
.feature-icon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    color: #fff;
    background: #00335cdd;
}
.feature-text p{
    padding: 0 0px;
    text-align: initial;
}


@media (max-width: 700px) {
    .title-text h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .feature-box {
        margin: auto;
        display: block;
    }

    .feature h2{
        margin: 0 0 0 10px;
        font-size: 16px;
    }
    .feature-des{
        display: flex;
    }
    .feature-icon{
    font-size: 20px;
    width: 30px;
    height: 30px;
    }
    .feature-img {
        flex-basis: 90%;
    }
}

/* ------------------  Services   ------------------------ */

#services {
    width: 100%;
    padding: 70px 0;
    margin: auto;
    background: linear-gradient(#efefefe8 , #efefefe8), url(imgs/\(4\).jpg);
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.single-service {
    flex-basis: 31%;
    display: block;
    background:#36c4bccc;
    text-align: left;
    margin-bottom: 30px;
    color:  #000;
    border-bottom-right-radius: 20px ;
    transition: 0.5s;
}
.single-service:hover {
    box-shadow: 0 0px 5px #007070;
    transform: translateY(-3px);
}
.sin-ser-img {
    flex-basis: 31%;
    margin: auto;
    position: relative;
    border-radius: 7px;
}
.single-service img{
    width: 100%;
    height: 200px;
    border-radius: 7px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: linear-gradient(rgba(0, 72, 100, 0.3), rgba(0,0,0,0));
    top: 0;
    left: 0;
}
.sin-ser-text {
    width: 80%;
    margin: 10px;
}
.sin-ser-text h3 {
    padding-bottom: 5px;
}
.sin-ser-text p{
    font-size: 12px;
}

@media (max-width:700px) {
.service-box {
    display: block;
    margin-bottom: 20px;
}
}
  
/* --------------------------- Testimonial ------------------- */

#testimonial {
    width: 100%;
    padding: 70px 0;
}
.tes-row {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* align-items: flex-start; */
    flex-wrap: wrap;
}
.tes-col {
    background: #f2f8f8;
    flex-basis: 26%;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px 1px #00335c44;
    border: 1px solid #00335c22;
    cursor: pointer;
    transition: 0.5s;
}
.user {
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
.user img {
    width: 150px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #00335c;

}
.tes-col p {
    margin: 10px;
    font-size: 14px;
}
.tes-col:hover {
    transform: translateY(-5px);
    background: #fff;
}
@media (max-width: 700px){
    .tes-col {
        flex-basis: 100%;
    }
    .user {
    margin-left: 50px;
    }
}

/* --------------------  Contact US  ----------------------------- */
/*******************************/
/********* Contact CSS *********/
/*******************************/

#contact {
    padding: 50px 0 20px;
    width: 100%;
    /* background: #00335c; */
    background: linear-gradient( #c2ebfdee , #e3bff7dd), url(imgs/\(10\).jpg);

}
.contact {
    /* background: #efefef; */
    display: block ;
    text-align: center;
    align-items: center;
    position: center;
    background-size: cover;
    width: 100%;
    margin: auto;
    padding: 45px 0;
}
.trial h2{
    color: #00335ccc;
    text-align: center;
    font-size: 30px;
    -webkit-text-stroke: 1px #01fe87;
    transition: 0.5s;
    margin-bottom: 10px;
}
.trial em {
    color: #f5392b;
    font-size: 35px;
    font-weight:bolder;
    font-style: normal;
    -webkit-text-stroke: 0.2px #fff;
    padding: 0 5px;
}
.trial h2:hover {
    transform: translateY(-7px);
    text-shadow: 1px 2px 5px #fff;
}
.contact .row {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;

}
.con-col {
    flex-basis: 30%;
    border: 2px solid #00335c77;
    background: #fff;
    display: block;
    margin: auto;
    padding: 30px;
    text-align: center;
    transition: 0.5s;
}
.con-col:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px #29113a;
}
.con-row{
    display: block;
    margin: auto;
    padding: 20px;
}
.con-row h2{
    font-weight: 500;
    color: #00335c;
    padding: 4px;
}
.contact .bi{
    font-size: 20px;
    color: #00335c;
    border: 1px solid #00335c;
    border-radius: 50%;
    padding: 7px 10px;
    transition: 0.5s;
}
.contact .bi:hover {
    background: #00335c;
    color: #fff;
}

 /* ----------------------------------------------------- */


.contact .contact-form {
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.contact .contact-form input {
    height: 35px;
    width: 80%;
    padding: 0 10px;
    margin: 10px;
    background: #efefef;
    border: 1px solid #00335c;
    border-radius: 0;
}

.contact .contact-form textarea {
    height: 120px;
    width: 80%;
    margin: 10px 0;
    padding: 15px;
    background: #efefef;
    border: 1px solid #00335c;
    border-radius: 5px;
}

.contact .contact-form .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    background: #029766dd;
    border: none;
    border-radius: 3px;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #fff;
    background:#018145;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


@media (max-width: 700px) {
    .trial{
    font-size: 18px;
    }
    .con-row {
        display: block ;
    }
    .con-col {
        width: 70%;
        margin-bottom: 20px;
    }
}


/*******************************/



/* -------------------- Footer--------------------------------- */
#footer{
    background: #ffffff;
    margin-top: 50px;
}
.image-masjid {
    background-image: url(imgs/masjid1.png);
    height: 180px ;
    background-position: right top;
}
.foot-cont {
    /* background: #00335c; */
    background: linear-gradient(#00335cdd , #00335cdd), url(imgs/\(4\).jpg);
    background-size: contain;
    display: block;
}

.foot-cont h1 {
    font-size: 40px;
    text-align: center;
    font-weight:600;
    color: #fff;
    padding-top: 80px;
    transition: 00.5s;
}
.foot-cont h1:hover {
    transform: translateY(-5px);
    -webkit-text-stroke: 0.5px #01fe87;
}
.foot-row {
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    color: #fff;
}
.foot-col {
    flex-basis: 45%;
    display: block;
    align-items: center;
    text-align: center;
    margin: 50px;
    padding: 20px;
}
.foot-col img {
    height: 200px;
    transition: 00.5s;
}
.foot-col img:hover {
    transform: translateY(-5px);
    -webkit-text-stroke: 1px #01fe87;
}

.foot-col ul li a {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 20 px;
    padding-bottom: 20px;
}

.foot-row h3 {
    font-weight: 400;
}
.foot-row .bi {
    padding: 10px;
}

.foot-social {
    text-align: center;
}
.foot-social .bi{
    padding: 10px;
    color:#ffffff;
    font-size: 20px;
    height: 30px;
    width: 30px;
    border: 1px solid #00335c;
    border-radius: 5px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.5s;    
}
.foot-social .bi:hover {
    background: #ffffff;
    color: #00335c;
    transform: translateY(-7px);
}
.foot-social p{
    margin-top: 10px;
    color:lightgreen;
}
@media (max-width: 700px) {
    .foot-row{
        display: block;
    }
    .foot-col {
        margin: 10px;
    }
.image-masjid {
    width: 100%;
    height: 180px ;

}
}


.thumbnails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
    background: linear-gradient(#00335caa , #009688), url("imgs/bckgrnd.jpg");
}
 .box{
    flex-basis: 27%;
    background: #007070;
    display: block;
    justify-content: space-around;
    align-items: center;
}
.box img{
    width: 90%;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 200px;
}